.contest-home {
    width: 50%;
    margin: 0 auto;
}

.contest-home > * {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

.contest-home > div {
    text-align: left;
    font-size: 1em;
    white-space: pre-wrap;
}

#submit {
    display: block;
    margin: 0 auto;
    color: #9E9E9E;
    background-image: none;
    background-color: transparent;
    border-color:  #9E9E9E;
    border-radius: 40px;
    width: 150px;
    padding: 12px 8px;
}

#submit:hover {
    color: #fff;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}

#submit:focus, #submit:active, #submit:hover, #submit:active:focus {
    outline: none;
}

#header-banner {
    background: #03A9F4;
    height: 300px;
    margin-bottom: 50px;
}

#header-banner > h1 {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
    padding-top: 134px;
}
