.contest-home {
    width: 50%;
    margin: 0 auto;
}

.contest-home > * {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

.contest-home h2 {
    text-align: center;
}

.contest-home > div {
    text-align: left;
    font-size: 1em;
    white-space: pre-wrap;
}

.contest-home > .btn-wrapper {
    white-space: normal;
}

.contest-container .btn, .btn.confirm, .btn.create {
    color: #448AFF;
    background-image: none;
    background-color: transparent;
    border-color:  #448AFF;
    padding: 12px 8px;
}

.btn.cancel {
    background-image: none;
    background-color: transparent;
    color: #9E9E9E;
    border-color:  #9E9E9E;
}

.contest-home .join {
    width: 100%;
    margin-bottom: 48px;
}

.contest-home .open, .contest-home .closed {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.contest-container .btn:hover,
.contest-container .btn.active,
.btn.confirm:hover,
.btn.create:hover {
    color: #fff;
    background-color: #448AFF;
    border-color: #448AFF;
}

.btn.cancel:hover {
    color: #fff;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}

.contest-container .btn:hover:focus,
.btn.create:hover:focus {
    background: #2962FF;
    border-color: #2962FF;
}

.contest-container .btn:focus,
.contest-container .btn:active,
.contest-container .btn:hover,
.btn.cancel:focus, .btn.cancel:active, .btn.cancel:hover,
.btn.create:focus, .btn.create:active, .btn.create:hover {
    outline: none;
    box-shadow: none;
}

.contest-home .btn-group {
    margin-bottom: 48px;
}

#header-banner {
    background: #03A9F4;
    height: 300px;
    margin-bottom: 48px;
}

#header-banner > h1 {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
    padding-top: 134px;
}

#header-banner > h4 {
    text-align: center;
    color: #E3F2FD;
    font-weight: 100;
}

button.btn.btn-secondary.disabled:hover,
button.btn.btn-secondary.disabled {
    background-color: #fff;
    border-color: #ccc;
    color: #ccc;
    cursor: default;
}

.btn.confirm {
    padding: .5rem 1rem;
}
