.profile-container .ReactTable, .rt-table {
    width: 1000px;
    margin: 0 auto;
    height: 500px;
}

.profile-container .ReactTable {
    margin-bottom: 96px;
}

.profile-container .btn.create {
    width: 50%;
    margin: 96px auto 48px;
    display: block;
}
