.submissions-container .ReactTable, .rt-table {
    width: 1000px;
    margin: 0 auto;
    height: 500px;
}

.submissions-container .ReactTable {
    margin-top: 96px;
}

.submissions-container {
    margin-right: 200px;
}
.submissions-container .ReactTable .rt-tbody .rt-td {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.submissions-container .ReactTable .rt-tbody .rt-tr-group {
    max-height: 34px;
}
