.chat-sidebar {
    position: fixed;
    right: 0;
    top: 48px;
    bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 200px;
    z-index: 500;
    border-left: 1px solid #82B1FF;
    background: #ffffff;
}

.list-group-item.read {
    opacity: 0.38;
}

.chat-sidebar > .list-group-item:first-child,
.chat-sidebar > .list-group-item:last-child {
     border-radius: 0;
}

.chat-sidebar > .list-group-item:focus,
.chat-sidebar > .list-group-item:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.05);
}
